.dashboard {
    background-image: url('/assets/dash_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    background-color: #313131; /* Fallback color */
    color: #ffffff;
    background-attachment: fixed; /* added for fixed background */

}
  